.title {
    text-align: center;
}

.search-component {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.recipe-table,
.recipe-table,
.pagination-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.select,
.input-ingredient {
    width: 200px;
    margin: 0 10px;
}

.no-data {
    text-align: center;
    padding: 30px;
}

.modal-title {
    text-align: center;
}

.recipe-detail {
    margin: auto;
    padding: 10px;
}

.list-recipes {
    width: 80%;
    margin: auto;
    padding: 50px 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.recipe-image {
    display: flex;
    margin: auto;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.recipe-cuisine,
.recipe-ingredient,
.recipe-step {
    text-align: center;
}

.recipe-step {
    margin-top: 20px;
}

.modal-dialog {
    max-width: 60%;
}